* {
    box-sizing: border-box;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

.topnav {
    display: flex;
    background-color: #ad2203;
    float: right;
    

  }

.topnav a {
    padding: 10px 20px;

}

.topnav a:hover {
    background-color: #ddd;
    color: black;
      }
  
  /* Style the navigation bar links */


body {
    font-family: Arial;
    margin: 0;;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.left {
    background-image: url("background.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    padding: 20px;
    flex: 45%;
    
    
}
.right {
    flex: 55%;
    background-color: #23263D;
    padding: 20px;
}
.steam {
    background-size: 50px, 50px;
    justify-items: flex-end;
    
}
.osu {
    background-size: 40px, 40px;
}
.git {
    background-size: 50px, 50px;
}
.steam {
    background-size: 50px, 50px;
}
.insta {
    background-size: 50px, 50px;
    
}
.twitter {
    background-size: 50px, 50px;
}
.profile {
    margin-left: 100px;
    margin-top: 100px;
}
.name {
    font-family: Inder;
    font-style: normal;
    font-weight: 500;
    color: aliceblue;
    font-size: 70px;
    margin-top: 5%;
    margin-left: 5%;

}
.contact-nav {
    font-family: Inder;
    font-style: normal;
    font-weight: 500;
    color: aliceblue;
}
.contact {
    font-family: Inder;
    font-style: normal;
    font-weight: 500;
    color: aliceblue;
    font-size: 60px; 
    text-align: center;
    margin-top: 20%;
}
.npm {
    font-family:'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 100;
    color: aliceblue;
    margin-left: 5%;
    font-size: 33px;
}
.ui {
    font-family: Inder;
    font-style: normal;
    font-weight: 500;
    color: aliceblue;
    font-size: 33px;
    padding-top: 17%;
    padding-left: 125px;
}
.hobbydesc {
    font-family: Inder;
    font-style: normal;
    font-weight: 500;
    color: aliceblue;
    font-size: 33px;
    padding-left: 125px;
}

.question {
    background-size: 30px, 30px;
    margin-top: 20%;
}

div.hobby {
    background-image:url("hobbies-symbol-png-2.png");
    width: 80px;
    height: 80px;
    
    
}
.desc {
    font-family: Nunito Sans;
    font-style: oblique;
    font-weight: 500;
    color: aliceblue;
    font-size: 24px;
    margin-left: 10%;
}
.line {
position: absolute;
left: 6%;
height: 90vh;
width: 1px;
border: 2px solid #FFFFFF;
top: 0;
}
.line-right {
position: absolute;
right: 6%;
height: 90vh;
width: 1px;
border: 2px solid #FFFFFF;
bottom: 0;
}
.line-horizontal {
position: absolute;
left: 0;
height: 1px;
width: 15vw;
border: 2px solid #FFFFFF;
bottom: 20%;
}
.line-horizontal-right {
position: absolute;
right: 0;
height: 1px;
width: 15vw;
border: 2px solid #FFFFFF;
top: 20%;  
}
.footer {
    background:#3d0638;
    float: left;
    height: 10vh;
}
